.navbar-container {
  width: 100%;
  min-height: 3rem;
  padding: 0.5rem 0;
  height: -moz-min-content;
  height: min-content;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-container .navlink {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 100;
  padding: 0.2rem 0.5rem;
}
@media only screen and (max-width: 1920px) {
  .navbar-container .navlink {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1400px) {
  .navbar-container .navlink {
    font-size: 22.5px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar-container .navlink {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar-container .navlink {
    font-size: 11.25px;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-container .navlink {
    font-size: 7.5px;
  }
}
.navbar-container .navlink:hover {
  transition: all 0.8s;
  color: red;
  cursor: url("../../../public/bone.jpg"), auto;
}
.navbar-container .navlink:last-child {
  margin-right: auto;
}
.navbar-container .navlink:nth-child(1) {
  margin-left: auto;
}

.userpost {
  width: 90%;
  height: -moz-min-content;
  height: min-content;
  padding: 1rem 2rem;
  margin: 0 auto;
  transition: 1s all !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.userpost .mainText {
  width: 100%;
  padding: 1.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: inherit;
  scrollbar-width: 0;
  max-width: 90%;
  align-self: center;
}
.userpost .mainText::-webkit-scrollbar {
  width: 0px;
}
.userpost .mainText::-moz-placeholder {
  letter-spacing: 3px;
  color: rgb(201, 201, 201);
  text-align: center;
}
.userpost .mainText::placeholder {
  letter-spacing: 3px;
  color: rgb(201, 201, 201);
  text-align: center;
}
.userpost .imagecontainer {
  width: 90%;
  margin: 0.5rem auto;
  border: 1px solid white;
  padding: 1rem 2rem;
  position: relative;
  display: grid;
  justify-content: center;
  align-self: center;
  font-weight: 100;
  letter-spacing: 3px;
  background-color: black;
}
.userpost .imagecontainer .imageinput {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.userpost .submitpost {
  max-width: 90%;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4rem 1rem;
  letter-spacing: 2px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  cursor: url("../../../public/bone.jpg"), auto;
  align-self: center;
}
.userpost .Imagepreview {
  width: 90%;
  background-color: black;
  border: 1px solid white;
  height: -moz-max-content;
  height: max-content;
  padding: 0.2rem;
  margin: 0.5rem 0;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.userpost .Imagepreview .headerpreviewimagepost {
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
}
.userpost .Imagepreview .imagepreview {
  min-width: 4rem;
  min-height: 4rem;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0.5rem 0;
  border: 0.5px solid grey;
  filter: contrast(1.2);
  transition: all 1s;
}

.containercomments1 {
  min-height: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem 1rem;
  width: 100%;
  position: relative;
}
.containercomments1 .commentlabel {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  letter-spacing: 3px;
  font-size: medium;
  padding: 1rem 0;
}
.containercomments1 .hi {
  margin: 0.2rem 0;
  height: -moz-max-content;
  height: max-content;
}
.containercomments1 .hi .rootcomment {
  width: 15rem;
  height: -moz-max-content;
  height: max-content;
  min-height: 1rem;
  background-color: rgba(128, 128, 128, 0.507);
  padding: 0.2rem;
  position: relative;
  margin: 0.4rem 0;
}
.containercomments1 .hi .rootcomment .anon {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.containercomments1 .hi .rootcomment .anon2 {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  font-size: x-small;
}
.containercomments1 .hi .rootcomment .bodycomment1 {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  font-size: small;
  padding: 0.4rem 0;
}
.containercomments1 .hi .replydiv {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}
.containercomments1 .hi .replydiv .replytrext {
  width: 100%;
  font-size: xx-small;
  color: white;
  letter-spacing: 1px;
}
.containercomments1 .hi .replydiv .setaxiosreply {
  width: -moz-max-content;
  width: max-content;
  padding: 0.1rem 0.2rem;
  letter-spacing: 1px;
  border: 1px solid white;
  background-color: black;
  border-radius: 2px;
  color: white;
}
.containercomments1 .hi .replydiv .replymessage {
  border: 1px solid white;
  background-color: black;
  padding: 0.2rem;
  color: white;
  letter-spacing: 1px;
  width: 100%;
  margin: 0.2rem 0;
}

.welcome {
  padding: 1rem 0;
  margin-top: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 100;
}
.welcome:hover {
  transition: 0.5s all;
  color: red;
}/*# sourceMappingURL=index.css.map */