



.welcome{
    padding: 1rem 0;
    margin-top: 2rem;
    user-select: none;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 100;
    &:hover{
        transition: 0.5s all;
        color: red;
    }
}









